# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
.env.*

# Virtual environments
venv/
.env/
.venv/

# Logs and temporary files
*.log
*.tmp
*.swp
.DS_Store

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.exe

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# Build and distribution folders
build/
dist/
*.egg-info/
